/* @font-face {
    font-family: 'Poppins', sans-serif;
    src: url();
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #1f2122;
 }
 
 
 button {
     background-color: transparent;
     color: white;
     padding: 7px 30px;
     margin: 10px 0px;
     border-radius: 30px;
     border: none;
     border: 2px solid white;
     transition: 0.5s;
     transition-timing-function: ease-in-out;
     align-self: center;
 }
 
 button:hover {
     color: #1f2122;
     background-color: white;
     cursor: pointer;
 }

 a {
    text-decoration: none;
    color: inherit;
 }

form {
    margin: 10px 0px;
}

input {
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

i {
    cursor: pointer;
}

.container {
    width: 400px;
    max-height: 300px;
    padding: 20px;
    overflow-y: scroll;
}

.translate {
    transform: translateX(calc(400px - 100%));
    transition: 1s ease-in-out;
}

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes fade {
    from {
        opacity: 0%;
        transform: translateX(-50%);
    }
    
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

.display-none {
    display: none;
}

w-100 {
    width: 100%;
}

.relative {
    position: relative;
}

.flex-row-between {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.flex-row {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


#manage-token {
    cursor: pointer;
}

.repo {
    margin: 10px 0;
}

.repo-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 7px;
}

.owner-picture {
    border-radius: 50%;
    width: 20px;
}

.repo-fullname {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    text-wrap: nowrap;
}

.tooltip {
    background-color: transparent;
    color: transparent;
    position: absolute;
    transition: 0.5s;
    margin-top: -50px;
    z-index: 1000;
    padding: 7px 30px;
    border-radius: 30px;

  }
  .ex-tooltip:hover > .tooltip {
    background-color: white;
    color: #1f2122;
  }